<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">CardBrick sync on %h</name>
  <service>
    <type>_cardbrick._tcp</type>
    <port>6429</port>
  </service>
</service-group>
