[Desktop Entry]
Type=Application
Name=CardBrick
Exec=env LD_LIBRARY_PATH=$APPDIR/lib $APPDIR/cardbrick
Icon=cardbrick
Terminal=false
Categories=applications;
